@import "../../style/style.scss";

.cart {
  width: 500px;
  margin: $margin-secondary;
  background-color: $background-color-secondary;
  transition: all 1s;

  .cart-footer,
  .cart-body {
    margin: $margin-primary;
    padding: $padding-primary;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: $padding-primary;
    box-shadow: 5px 5px 5px $background-color-primary;
    transition: all 1s;

    &:hover {
      box-shadow: 15px 15px 15px $background-color-primary;
    }

    div:first-child {
      margin-right: auto;
    }
    div:nth-child(3) {
      margin-left: $margin-primary;
      margin-right: $margin-primary;
    }
    div:nth-child(5) {
      margin-left: $margin-primary;
      margin-right: $margin-primary;
    }
    div:nth-child(7) {
      margin-left: $margin-secondary;
    }
  }

  .cart-empty {
    padding: $padding-primary;
    text-align: center;
    box-shadow: 5px 5px 5px $background-color-primary;
  }
  .cart-footer {
    display: flex;
    justify-content: flex-end;
  }
}
