// Background colors
$background-color-primary: gray;
$background-color-secondary: darkgray;

// Buton colors
$button-background-color-primary: darkgray;

$button-background-color-active: gray;

$button-color-primary: white;

$box-shadow-color-primary: gray;

// Disabled colors
$disabled-color-primary: gray;

// Colors
$color-secondary: rgb(255, 255, 255);

$color-error: red;
