// Colors
$color-secondary: rgb(255, 255, 255);
$color-tertiary: red;

// Background colors
$background-color-primary: gray;
$background-color-secondary: darkgray;
$background-color-tertiary: yellow;

// Buton colors
$button-background-color-primary: darkgray;
$button-background-color-secondary: gray;
$button-background-color-tertiary: red;

$button-background-color-active: gray;

$button-color-primary: white;

$box-shadow-color-primary: gray;
$box-shadow-color-secondary: darkgray;

// Disabled colors
$disabled-color-primary: gray;

$color-error: red;
// Border
$border-color-primary: red;
