@import "../../style/style.scss";

.pokemons {
  background-color: yellow;
  color: red;
  padding: $padding-secondary;
  h1 {
    color: red;
    font-size: $font-size-secondary;
    font-weight: 900;
    padding: $padding-secondary;
    text-align: center;
    text-shadow: 5px 5px 5px $box-shadow-color-primary;
  }
}
