@import "../../style/style.scss";

.pokemons {
  min-height: 100vh;
  background-color: $background-color-tertiary;
  color: $color-tertiary;
  padding: $padding-secondary;
  h1 {
    font-size: $font-size-secondary;
    font-weight: 900;
    padding: $padding-secondary;
    text-align: center;
    text-shadow: 5px 5px 5px $box-shadow-color-primary;
  }
}
