@import "../../style/style.scss";

.beers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  article {
    width: 200px;
    margin: $margin-secondary;
    background-color: $background-color-secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px $box-shadow-color-secondary;
    border-radius: $border-radius-primary;
    transition: all 1s;
    &:hover {
      box-shadow: 15px 15px 15px $box-shadow-color-secondary;
    }
    h3 {
      padding: $padding-primary;
    }
    div {
      display: flex;
      div {
        padding: $padding-primary;
        display: flex;
        flex-direction: column;
      }
    }
    img {
      max-height: 200px;
      padding: $padding-primary;
      margin-left: $padding-primary;
    }
    .selected-beer {
      transform: scale(1.3) rotate(10deg);
      transition: 2s;
    }

    button {
      margin-top: auto;
    }
  }
}
