@import "../../../style/style.scss";

.pokemon-list {
  width: fit-content;
  padding: $padding-secondary;
  border: 5px dotted $border-color-primary;
  border-radius: $border-radius-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 5px $box-shadow-color-secondary;
  transition: all 1s;
  &:hover {
    box-shadow: 15px 15px 15px $box-shadow-color-secondary;
  }

  h2 {
    text-align: center;
    margin-bottom: $margin-secondary;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: $font-size-tertiary;
    li {
      padding: $padding-primary;
      &:hover {
        cursor: pointer;
        box-shadow: 5px 5px 5px $box-shadow-color-secondary;
      }
    }
  }
  .buttons-div {
    margin-top: $margin-secondary;
    button {
      margin: $margin-primary;
      background-color: $button-background-color-tertiary;
    }
  }
}
