@import "../../style/style.scss";

.header-main {
  font-size: $font-size-secondary;
  font-weight: 900;
  margin: $margin-secondary;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  div {
    text-align: center;
  }
  .cart-svg {
    height: 50px;
  }
  .beer {
    height: 50px;
  }
}
